<p>post works!</p>
<html>
  <head>
     <title>
	     Registration Form
	   
	 </title>
  
  </head>
  <body>
  
      <h1> Registration Form  </h1>
	  <form  action="done.html" autocomplete>
	    <label>* First Name :</label><input type="text" size="30" required autocomplete ><br><br>
		<label>* Last Name :</label><input type="text" size="30" required ><br><br>
		<label>* Age :</label><input type="number" size="3" min="1" max="100"required ><br><br>
		<label>* Contact :</label><input type="tel"  required ><br><br>
		<label>* Email :</label><input type="email" required ><br><br>
		<label>*Gender:</label><input type="radio" value="male" name="gender" required> M
        <input type="radio" value="female" name="gender" checked required>F<br>
	   <label> File Name :</label><input type="File" ><br><br> 
	   <label>Username  :</label><input type="text" ><br><br>
	   <label> Password :</label><input type="password" placeholder="Enter Password"  ><br><br>
	    <input type="button" value="Click me" onclick='alert("Hello world")'><br><br>
        <input type="reset" value="Reset"><br><br> 
	   <input type="submit" value="submit">
	  </form>
  </body>
</html>